<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    bgi2 Example App
  </h1>

  <div>
    <button (click)="generateRandom()">Generate Random String</button>
    <div>{{random}}</div>
  </div>
</div>

